* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

.hero {
    width: 100%;
    min-height: 100vh;
    /* background-image: url("https://themewagon.github.io/mexant/assets/images/slide-01.jpg"); */
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Dark Overlay */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(18, 18, 32, 0.72);
}

/* Navbar */
nav {
    width: 100%;
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 45px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover,
.active {
    color: #ff5b25;
}

nav button {
    background: #4ac57a;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

nav button:hover {
    background: #39b168;
}

/* Hero */
.hero-content {
    width: 860px;
    margin-left: 70px;
    margin-top: 10px;
    color: white;
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 61px;
    line-height: 1.1;
    font-weight: 500;
}

.hero-content span {
    color: #ff5b25;
}

.line {
    width: 120px;
    height: 6px;
    background: white;
    border-radius: 50px;
    margin: 35px 0;
}

.hero-content p {
    font-size: 17px;
    line-height: 1.5;
    color: #ddd;
    width: 70%;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.btn {
    text-decoration: none;
    padding: 15px 34px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.green {
    background: #49c878;
}

.orange {
    background: #ff5b25;
}

.green:hover {
    background: #3bb567;
}

.orange:hover {
    background: #e94c19;
}

/* Arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    z-index: 5;
    transition: 0.3s;
}

.arrow:hover {
    background: white;
    color: black;
}

.left {
    left: 25px;
}

.right {
    right: 25px;
}

/* Responsive */
@media (max-width: 1100px) {
    nav {
        padding: 20px 40px;
    }
    .hero-content {
        margin-left: 40px;
        width: 90%;
    }
    .hero-content h1 {
        font-size: 55px;
    }
    nav ul {
        display: none;
    }
}