.color{
    height: 70px;
    width: 70px;
    border: 1px solid black;
}

#red{
    background-color: red;
}

#green{
    background-color: greenyellow;
}

#blue{
    background-color: rgb(88, 56, 247);
}

#pink{
    background-color: pink;
}